body {
  
    font-size: 1.5em;
    background: url("/static/bg.c9a7286914fb.jpg") 0% 0% no-repeat fixed;
    background-size: 100%;
  }

  .layer {
    color: white;
    width: 70%;
    height: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -120%);
}
  
form {
  font-size: 1em;
}

.button{
  background-color: white;
  border:1px solid white;
  border-radius:5px;
  color:black; 
  
 }

a {
  text-decoration: none;
  cursor: default;
  color: black
}