body {
  
    font-size: 1.5em;
    background: url("/static/bg.jpg") 0% 0% no-repeat fixed;
    background-size: 100%;
  }

  .layer {
    color: white;
    width: 70%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -120%);
}
  
.form {
  font-size: 1em;
}

.button{
  font-size: 0.8em;
  background-color: white;
  border:1px solid white;
  border-radius:5px;
  color:black; 
  
 }

a {
  text-decoration: none;
  cursor: default;
  color: black
}

.myfieldclass {
  font-size: 0.8em;
}

.bottom {
  font-size: 0.8em;
  color: white;
  position:fixed;
  bottom:0px;
  height:30px;
  
  left: 45%;

}