<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zillow API Tool</title>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert(message);
            {% endfor %}
        {% endif %}
    </script>
</head>
<body>
    <div>Upload a csv with addresses here and you will be provided with property information from Zillow</div>
    <br>
    <form enctype = "multipart/form-data" action = "#" method = "post">
        {% csrf_token %}
        {{ form }}       
        <input type = "submit" value = "Upload">
     </form>

</body>
</html>